footer {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.footer-row-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.footer-section-title {
    margin-bottom: 15px;

    h3 {
        font-weight: 600;    
    }
}

.footer-my-account,
.footer-support,
.footer-payment-methods,
.footer-deivery-methods {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.25;
}

.footer-my-account {
    .my-account-content {
        display: flex;
        flex-direction: column;

        li {
            margin: 10px 0;

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-support {

    .support-content {
        display: flex;
        flex-direction: column;
        
        .support-email {
            margin-bottom: 20px;

            div {
                display: flex;

                i {
                    margin-right: 5px;
                }

                span {
                    font-weight: 500;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .support-schedule {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
                font-weight: 400;
            }
        }
    }
}

.footer-payment-methods {

    .payment-methods-content {
        display: flex;

        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
            
            .mastercard {
                width: 48px;
                height: 29px;
            }

            .visa {
                width: 59px;
                height: 18px;
                line-height: 10px;
            }

            .boleto {
                width: 38px;
                height: 29px;
            }
        }

        .visa-content {
            align-self: center;
        }
    }
}

.footer-delivery-methods {

    .delivery-methods-content {
        img {
            width: 120px;
            height: 25px;
        }
    }
}

//
//  LINHA DOIS DO FOOTER
//

.footer-row-2 {
    display: flex;
    flex-direction: column;
}

.footer-social-medias {
    margin: 0 auto;

    a { 
        height: 40px;
        width: 40px;
        background-color: #808080;
        display: inline-block;
        border-radius: 32px;
        text-align: center;
        line-height: 45px;
        transition: background-color 0.25s;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    .btn-instagram:hover {
        background-color: #FD1D1D;
    }

    .btn-facebook:hover {
        background-color: #3b5998;
    }

    .btn-whatsapp:hover {
        background-color: #25D366;
    }

    i {
        font-size: 14px;
        color: #f5f5f5;
    }
    
    .icon-whatsapp {
        font-size: 15px;
    }
}

.footer-company-information {
    margin: 30px auto 30px;
}