main {
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 50px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

// Estrelas de avaliação
.star-active {
    color: #2979FF;
}

.star-inative {
    color: #ccc;
}