.delivery-details-container,
.payment-details-container {
    display: flex;
    flex-direction: column;

    .details-container {
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding: 20px 32px;
        border-radius: 3px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .details-content {
            display: flex;
            align-items: center;

            .icon {
                width: 48px;
                height: 48px;
                background-color: #fff;
                position: relative;
                border-radius: 32px;
                margin-right: 20px;

                i {
                    font-size: 22px;
                    color: #2979FF;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                line-height: 1.5;

                .info-title {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .info-body {
                font-weight: 300;
            }
        }

        .action {
            align-self: center;
                
            a {
                color: #2979FF;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.delivery-details-container {
    margin-bottom: 35px;
}